
*{
  box-sizing: border-box;
}
body{
  background-color: #c4c1e0;
  background-image: url(../imagesources/paisleybg.webp);
  margin: 5px;
  border:2px solid white;
  border-radius: 12px;
}
#Avromed{
  width: 90px;
  margin-top: -3px;
}
#DiabetLogo{
  width: 80px;
  height: 50px;
  margin-left: 10px;;
}
#logo a{
  display: flex;
}
header{
  width: 100%;
  text-align: center;
  background-image: url(../imagesources/HeaderVol3.png);
  border-radius: 12px;
  font-family: "Poppins", sans-serif;


}
h2{
  font-family: "Poppins", sans-serif;
color: #7C73E6;
color: white;
text-align: center;
}
#general{
width: 100%;
height: 50px;
display: flex;
justify-content: space-around;

}
#list{
  list-style-type: none;
  justify-content: center;
  display: flex;
gap:50px;
}

#list a{
  text-decoration: none;

}
#logGL{
  list-style-type: none;

}
#logG a{
  text-decoration: none;
  color: white;

}
#logo{
  margin-left: 20px;
}
.CenteredBar{
  color: white;
}

.CenteredBar:hover,  .CenteredBar:focus{
  background-color: #eaf6f6;
  color: #7c73e6;

}
#toggle-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
h2{
  color: green;
  font-weight: 400;
}


#DermanA{
text-decoration: none;
color: white;
height: 150px;
width: 300px;
justify-content: center;
display: flex;
align-items: center;
background-image: url(../imagesources/Buttons1.png);
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;

}
#DermanA:hover, #DermanA:focus {
  font-size: 2em;
}

#ElaqeA{
text-decoration: none;
color: white;
height: 150px;
width: 300px;
justify-content: center;
display: flex;
align-items: center;
background-image: url(../imagesources/Buttons1.png);
font-size: 1.5em;
  font-family: "Roboto", sans-serif;

}
#ElaqeA:hover, #ElaqeA:focus{
  font-size: 2em;
}

#XeriteA{
  text-decoration: none;
  color: white;
  height: 150px;
  width: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #7C73E6;


}

.Bolmeler{
  list-style-type: none;
  display: flex;
  justify-content: center;

gap:2%;
padding-left: 0px;
}
#altBolmeler{
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
}

hr{
  width: 10%;
   border-style: dotted none none;
   border-color: white;
   border-width: 8px;

}

h3{
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.Hekim{
  padding: 0px;
}
.Hekim{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2%;
}
.Hekim div{
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #7C73E6;
}

footer{
color: white;
  height: 150px;
  border-radius: 12px;
  justify-content: center;
  display: flex;
  text-align: center;


  background-color:#7C73E6;
  
  
}





.Hekim a{
  text-decoration: underline;
  color: #7C73E6;
}
.Hekim a:hover, .Hekim a:focus{
  color: black;
}
h3{
  color: green;
  font-weight: 450;
}

.Copyright{
  justify-content: center;
  display: flex;
  margin: auto 0 auto 0;
 
 
}
.WorkingHours ul{
  list-style-type: none;
}





@media (min-width:991px) {
.smallmap{
  display: none;
}
.mediummap{
  display: none;
}
}

@media (max-width:990px) and (min-width:680px) {
#toggle-button{
  display: none;
}
.bigmap{
  display: none;
}
.smallmap{
  display: none;
}

#DermanA{
  width: 200px;
  height: 150px;
}

#ElaqeA{
  width: 200px;
  height: 150px;
}
#XeriteA{
  width: 200px;
  height: 150px;
}


}

@media (max-width:679.9px) {
h1{
  margin: 0px;
  margin-top: 7px;
  color: white;
display: block;
font-size: 1.5em;
margin-top: 10px;
}

#listdiv{
  display: none;

}
logG{
  display: none;
}
#toggle-button{
  display: block;
}

.bigmap{
  display: none;
}
.mediummap{
  display: none;
}

#DermanA{
  width: 140px;
  height: 150px;
}

#ElaqeA{
  width: 140px;
  height: 150px;
}
#XeriteA{
  width: 140px;
  height: 150px;
}


}
