
*{
  box-sizing: border-box;
}
body{
  background-color: #c4c1e0;
  margin: 5px;
}
#logo img{
  width: 90px;
  margin-top: -3px;
}
header{
  width: 100%;
  text-align: center;
  background-image: url(../imagesources/Header.png);
  border-radius: 12px;
  font-family: "Poppins", sans-serif;


}
h2{
  font-family: "Poppins", sans-serif;
color: #7C73E6;
color: white;
text-align: center;
}
#general{
width: 100%;
height: 50px;
display: flex;
justify-content: space-around;

}
#list{
  list-style-type: none;
  justify-content: center;
  display: flex;
gap:50px;
}

#list a{
  text-decoration: none;

}
#logGL{
  list-style-type: none;

}
#logG a{
  text-decoration: none;
  color: white;

}
#logo{
  margin-left: 20px;
}
.CenteredBar{
  color: white;
}

.CenteredBar:hover,  .CenteredBar:focus{
  background-color: #eaf6f6;
  color: #7c73e6;

}
#toggle-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}


#DermanA{
text-decoration: none;
color: white;
height: 150px;
width: 300px;
justify-content: center;
display: flex;
align-items: center;
background-color: #7C73E6;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;

}
#DermanA:hover, #DermanA:focus {
  font-size: 2em;
}

#ElaqeA{
text-decoration: none;
color: white;
height: 150px;
width: 300px;
justify-content: center;
display: flex;
align-items: center;
background-color: #7C73E6;
font-size: 1.5em;
  font-family: "Roboto", sans-serif;

}
#ElaqeA:hover, #ElaqeA:focus{
  font-size: 2em;
}

#XeriteA{
  text-decoration: none;
  color: white;
  height: 150px;
  width: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #7C73E6;


}

.Bolmeler{
  list-style-type: none;
  display: flex;
  justify-content: center;

gap:2%;
padding-left: 0px;
}
#altBolmeler{
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
}






@media (min-width:991px) {

}

@media (max-width:990px) and (min-width:680px) {
#toggle-button{
  display: none;
}
}

@media (max-width:679px) {
h1{
  margin: 0px;
  margin-top: 7px;
  color: white;
display: block;
font-size: 1.5em;
margin-top: 10px;
}

#listdiv{
  display: none;

}
logG{
  display: none;
}
#toggle-button{
  display: block;
}


}
